:root {
    --header-height: 60px;
    --navbar-width: 12rem;
}
 /* struttura */
* {
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
    height: 100vh;
    background: #222;
    color: white;
    margin: 0;  
    padding: 0; 
}

header {
    height: var(--header-height);
    background: rgb(255, 255, 255);
}

main {
    height: calc(100% - var(--header-height));
    display: flex;
}

main > nav {
    background: rgb(4, 0, 34);
    height: 100%;
    width: var(--navbar-width);
    background-image: url('img/sidebar-bg.png');
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
}

main > section {
    flex-grow: 1; 
    background: rgb(255, 255, 255);
    overflow-y: scroll;
}
    /* css custom  */
    /* header  nav custom  */

.my_logo {
    max-height: 3rem;
}

    /* badge custom container bg-primary  */
.myBadge {
    background-color: rgb(24, 24, 149);
    
    
}
    /*form e button-form custom */
.myFormButton {
    border: 1px solid white;
    color: white;
}

.myCustom-modal .modal-dialog {
    max-width: 50%;          
    height: 100vh;          
    margin: 0 auto 0 50%;  
}

.myCustom-modal .modal-content {
    height: 100%;          
}


/* table */
.myImgTable{
    width: 1.5rem;
}


      /* css mediaquery  */

@media (max-width: 768px) {
    .myCustom-modal .modal-dialog {
        max-width: 100%;
        margin: 0;  
    }

    .myCustom-modal .modal-content {
        height: auto;          
    }
}
